{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Healing Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
	<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
	<!--webfonts-->
	<link href='http://fonts.useso.com/css?family=Antic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700|Six+Caps' rel='stylesheet' type='text/css' />
	   <!--//webfonts-->
	   <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
	<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
	<!--light-box-files -->
	<script src="{% static 'js/modernizr.custom.97074.js'%}"></script>
	<script src="{% static 'js/jquery.chocolat.js'%}"></script>
		<link rel="stylesheet" href="{% static 'css/chocolat.css'%}" type="text/css" media="screen" charset="utf-8">

		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.g-left a').Chocolat();
		});
		</script>
	<!--light-box-files -->
	<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
		   <script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
					});
				});
			</script>
			<script type="text/javascript">
			$(document).ready(function() {
					/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear'
					};
					*/
			$().UItoTop({ easingType: 'easeOutQuart' });
	});
	</script>
	<style>
		.header-bottom{
			background-color: white;
			/* position: fixed; */
    		/* top: 0; */
		}

		.scroll:hover{
			color:darkcyan;
		}


	</style>
</head>
<body>
 <!-- header -->

	 <!-- header-bottom -->
	<div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index:index' %}">首页</a></li>
						   <li><a href="{% url 'pattern:passage' %}" class="scroll">纹样库</a></li>
						   <li><a href="#insurance" class="scroll">前沿研究</a></li>
						   <li><a href="#insurance" class="scroll">创作中心</a></li>
						   <li><a href="#contact" class="scroll">关于我们</a></li>
					   </ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<div class="search-box">
					<div id="sb-search" class="sb-search">
<!--					<div id="sb-search" class="sb-search">-->
						<form>
							<input class="sb-search-input" placeholder="搜索" type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search" > </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="{% static 'js/classie.js'%}"></script>
					<script src="{% static 'js/uisearch.js'%}"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

		</div>
	</div>
	<!-- /header-bottom -->

<!-- header -->
<!-- banner -->
	<div class="banner" id="home">
		<div class="container">
			<div class="logo">
					<h1><a href="index.html" style="text-shadow: 3px 3px 0 black;color:white;">识纹</a></h1>
			</div>
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="banner-info">
									<h2>什么是龟背纹？</h2>
									<h4>特征</h4>
									<p>龟背纹以六边形为单位，以规律的、无缝拼接的形式组成四方连续纹样。当龟背纹以骨架形式出现时，将内容纹样填充镶嵌于骨架之中，组合成为装饰图案。</p>
									<a class="hvr-shutter-in-horizontal" href="#">Read More</a>
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h2>唐代纹样的特点 </h2>
									<h4>色彩浓艳、华美繁复</h4>
									<p>唐代纹样整体造型体现出丰满圆润、奔放流畅的风格特点，以生活类居多，花卉纹样取代了动物纹样的主流地位。</p>
									<a class="hvr-shutter-in-horizontal" href="#">Read More</a>
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h2>藏在故宫里的纹样</h2>
									<h4>《故宫纹样》</h4>
									<p>千载东方文明与审美、掌故与传说、巧思与神技，统统凝结在线条之间，穿越时空，来到我们面前。文物无声，纹样有色。</p>
									<a class="hvr-shutter-in-horizontal" href="#">Read More</a>
								</div>
							</li>
						</ul>
					</div>
				</section>

							<!-- FlexSlider -->
									  <script defer="" src="{% static 'js/jquery.flexslider.js '%}"></script>
									  <script type="text/javascript">
										$(function(){

										});
										$(window).load(function(){
										  $('.flexslider').flexslider({
											animation: "slide",
											start: function(slider){
											  $('body').removeClass('loading');
											}
										  });
										});
									  </script>
								<!-- FlexSlider -->

		</div>
		 <svg id="clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M-5 100 Q 0 20 5 100 Z
                             M0 100 Q 5 0 10 100
                             M5 100 Q 10 30 15 100
                             M10 100 Q 15 10 20 100
                             M15 100 Q 20 30 25 100
                             M20 100 Q 25 -10 30 100
                             M25 100 Q 30 10 35 100
                             M30 100 Q 35 30 40 100
                             M35 100 Q 40 10 45 100
                             M40 100 Q 45 50 50 100
                             M45 100 Q 50 20 55 100
                             M50 100 Q 55 40 60 100
                             M55 100 Q 60 60 65 100
                             M60 100 Q 65 50 70 100
                             M65 100 Q 70 20 75 100
                             M70 100 Q 75 45 80 100
                             M75 100 Q 80 30 85 100
                             M80 100 Q 85 20 90 100
                             M85 100 Q 90 50 95 100
                             M90 100 Q 95 25 100 100
                             M95 100 Q 100 15 105 100 Z">
                    </path>
                </svg>
	</div>
<!-- banner -->
<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<h6>About</h6>
			<div class="col-md-5 about-left">
				<h3>欢迎来到识纹</h3>
				<h5>为您呈现中华传统纹样的精彩世界</h5>
				<p>中国在数千年的发展历程中，创造了璀璨的文化艺术，纹样就是其中的代表之一。</p>
				<p>	青铜器上的云雷纹、兽面纹、乳钉纹简约古朴、庄严肃穆；</p>
				<p>	玉器上的谷纹、蒲纹恬淡高雅，清新脱俗；</p>
				<p>	织物上的八达晕纹、天华锦纹繁复纤巧、华美端庄；</p>
				<p>	金银器上的摩羯纹、宝相花纹绚烂丰满；瓷器上的花鸟纹烂漫自然；</p>
				<p>	年画、剪纸上的纹样丰富多彩；</p>
				<p>	建筑彩绘中的云纹、如意纹敦厚严谨。这些纹样兼具美观和功能性。</p>
				<p>	纹样的载体及使用群体互相影响，促进了纹样结构、组织形式、色彩搭配的发展，形成了令世界惊叹的中国纹样。同时，纹样也是我们研究民族发展史、民族美学、民族心理学、民风民俗学等极有价值的依据。 </p>


<!--				<h5>相关链接</h5>-->
<!--					<ul>-->
<!--						<li><a href="#"><span></span>Cardiology </a></li>-->
<!--						<li><a href="#"><span></span>Check-Up Examinations </a></li>-->
<!--						<li><a href="#"><span></span>Urgent Surgery</a></li>-->
<!--						<li><a href="#"><span></span>Ask a Best Doctor </a></li>-->
<!--						<li><a href="#"><span></span>Nutrition & Supplements </a></li>-->
<!--						<li><a href="#"><span></span>Careers </a></li>-->
<!--						<li><a href="#"><span></span>Free Consulting</a></li>-->
<!--						<li><a href="#"><span></span>Special Treatments</a></li>-->
<!--					</ul>-->

			</div>
			<div class="col-md-7 about-right">
					<h3>纹样研究及出版书籍</h3>
				<div class="abt-top">
					<div class="abt-lft">
						<img src="{% static 'images/p3.jpg'%}" class="img-responsive" alt="">
					</div>
					<div class="abt-rgt">
						<h4>《故宫纹样》</h4>
						<p>透过这藏在故宫的纹样，我们看到气韵生动的千百年中国纹样脉络，察觉美学的变迁与缩影，领略文化的延续与承袭。也为艺术装饰、设计插图、历史研究提供不可多得的参考资料，丰富灵感源泉。</p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="abt-top">
					<div class="abt-lft">
						<img src="{% static 'images/4.jpg'%}" class="img-responsive" alt="">
					</div>
					<div class="abt-rgt">
						<h4>5000 年中国纹样发展史 主讲师：张大立 </h4>
						<p>艺术设计系邀请到纹藏中国合伙人张大立老师，在腾讯会议平台进行了四期题为“探究纹样魅力，彰显文化自信——中华传统纹样历史研究与创意传承”的系列专题讲座。</p>
					</div>
						<div class="clearfix"></div>
				</div>
			</div>
				<div class="clearfix"></div>
		</div>
	</div>
<!-- about -->
 <svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 Q 2.5 40 5 0
						 Q 7.5 40 10 0
						 Q 12.5 40 15 0
						 Q 17.5 40 20 0
						 Q 22.5 40 25 0
						 Q 27.5 40 30 0
						 Q 32.5 40 35 0
						 Q 37.5 40 40 0
						 Q 42.5 40 45 0
						 Q 47.5 40 50 0
						 Q 52.5 40 55 0
						 Q 57.5 40 60 0
						 Q 62.5 40 65 0
						 Q 67.5 40 70 0
						 Q 72.5 40 75 0
						 Q 77.5 40 80 0
						 Q 82.5 40 85 0
						 Q 87.5 40 90 0
						 Q 92.5 40 95 0
						 Q 97.5 40 100 0 Z">
				</path>
			</svg>

<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h6>Services</h6>
			<div class="col-md-3 services-left">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<a href="{% url 'pattern:pattern' %}"><h3>纹样库</h3></a>
				<P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
				<a class="hvr-shutter-in-horizontal" href="#">More</a>
			</div>
			<div class="col-md-3 services-left">
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				<a href="{% url 'technology:technology' %}"><h3>前沿研究</h3></a>
				<P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
				<a class="hvr-shutter-in-horizontal" href="#">More</a>
			</div>
			<div class="col-md-3 services-left">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				<a href="{% url 'creativecenter:creativecenter' %}"><h3>创作中心</h3></a>
				<P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
				<a class="hvr-shutter-in-horizontal" href="#">More</a>
			</div>
			<div class="col-md-3 services-left">
				<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				<h3>联系我们</h3>
				<P>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
				<a class="hvr-shutter-in-horizontal" href="#">More</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- services -->
<!-- insurance -->
	<div class="insurance" id="insurance">
		<div class="container">
			<a href="{% url 'pattern:pattern' %}">
                <h6>纹样库</h6>
            </a>
			<div class="col-md-8 insurance-left">
				<h3>时光为纵</h3>
				<h4>以纹样时代划分</h4>
				<p> </p>
				<div class="insu">
				<ul>
						<li><a href="#"><span></span>夏商西周（前2100-前771）</a></li>
						<li><a href="#"><span></span>春秋战国 （前770-前221）</a></li>
						<li><a href="#"><span></span>秦汉（前221-220）</a></li>
						<li><a href="#"><span></span>三国两晋南北朝（220-589）</a></li>
						<li><a href="#"><span></span>隋唐（581-907）</a></li>
						<li><a href="#"><span></span>宋代（960-1279） </a></li>
						<li><a href="#"><span></span>元代（1206-1368）</a></li>
						<li><a href="#"><span></span>明代（1368-1644）</a></li>
						<li><a href="#"><span></span>清代（1616-1911）</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 insurance-right">
				<h3>Announcements</h3>
				<img src="{% static 'images/3.jpg'%}" class="img-responsive" alt="">
				<h4>That it has a more-or-less</h4>
				<p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
			</div>
            <div class="col-md-8 insurance-left">
				<h3>风格为横</h3>
				<h4>以纹样类型划分</h4>
				<p> </p>
				<div class="insu">
				<ul>
						<li><a href="#"><span></span>动物纹样</a></li>
						<li><a href="#"><span></span>植物纹样</a></li>
						<li><a href="#"><span></span>几何纹样</a></li>
						<li><a href="#"><span></span>自然与天地属性相纹样</a></li>
						<li><a href="#"><span></span>文字与符号纹样</a></li>
						<li><a href="#"><span></span>人物纹样 </a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 insurance-right">
				<h3>Announcements</h3>
				<img src="{% static 'images/3.jpg'%}" class="img-responsive" alt="">
				<h4>That it has a more-or-less</h4>
				<p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- insurance -->
<svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 Q 2.5 40 5 0
						 Q 7.5 40 10 0
						 Q 12.5 40 15 0
						 Q 17.5 40 20 0
						 Q 22.5 40 25 0
						 Q 27.5 40 30 0
						 Q 32.5 40 35 0
						 Q 37.5 40 40 0
						 Q 42.5 40 45 0
						 Q 47.5 40 50 0
						 Q 52.5 40 55 0
						 Q 57.5 40 60 0
						 Q 62.5 40 65 0
						 Q 67.5 40 70 0
						 Q 72.5 40 75 0
						 Q 77.5 40 80 0
						 Q 82.5 40 85 0
						 Q 87.5 40 90 0
						 Q 92.5 40 95 0
						 Q 97.5 40 100 0 Z">
				</path>
			</svg>
<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container">
			<div class="gallery-top heading">
				<h6>Our Gallery</h6>
			</div>
			<div class="gallery-bottom">
			<div class="grid">
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex1.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex1.jpg'%}" alt="">
							<figcaption>
							</figcaption>
					</figure>
					</a>
				</div>
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex2.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<figure class="effect-apollo">
							<img src="{% static 'images/ex2.jpg'%}" alt="">
							<figcaption>
							</figcaption>

					</figure>
					</a>
				</div>
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex3.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex3.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid">
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex4.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex5.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
					<div class="col-md-4 g-left">
					<a href="{% static 'images/ex6.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex6.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex7.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex7.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid">
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex8.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex8.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
					<div class="col-md-4 g-left">
					<a href="{% static 'images/ex9.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex9.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
				<div class="col-md-4 g-left">
					<a href="{% static 'images/ex3.jpg'%}" rel="title" class="b-link-stripe b-animate-go  thickbox">
					<figure class="effect-apollo">
							<img src="{% static 'images/ex3.jpg'%}" alt="">
						<figcaption>

						</figcaption>
					</figure>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
	</div>
<!-- gallery -->
<!-- our team -->
<div class="ourteam">
		<div class="container">
			<h6>Our Team</h6>
			<ul class="ch-grid">
					<li>
						<a href="#"><div class="ch-item ch-img-1">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-2">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-3">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
					<li>
						<a href="#"><div class="ch-item ch-img-4">
							<div class="ch-info">
								<div class="soci">
									<h5><a href="#"><i class="f-1"> </i></a>
									<a href="#"><i class="t-1"> </i></a>
									<a href="#"><i class="g-1"> </i></a></h5>
								</div>
							</div>
						</div></a>
					</li>
				</ul>
		<div class="social">
			<h3>Follow Us</h3>
			<ul>
				<li><a href="#"><i class="facebok"> </i></a></li>
				<li><a href="#"><i class="twiter"> </i></a></li>
				<li><a href="#"><i class="goog"> </i></a></li>
				<li><a href="#"><i class="inst"> </i></a></li>
				<li><a href="#"><i class="te"> </i></a></li>
					<div class="clearfix"></div>
			</ul>
		</div>
		</div>
	</div>
	<!-- our team -->
	<svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 Q 2.5 40 5 0
						 Q 7.5 40 10 0
						 Q 12.5 40 15 0
						 Q 17.5 40 20 0
						 Q 22.5 40 25 0
						 Q 27.5 40 30 0
						 Q 32.5 40 35 0
						 Q 37.5 40 40 0
						 Q 42.5 40 45 0
						 Q 47.5 40 50 0
						 Q 52.5 40 55 0
						 Q 57.5 40 60 0
						 Q 62.5 40 65 0
						 Q 67.5 40 70 0
						 Q 72.5 40 75 0
						 Q 77.5 40 80 0
						 Q 82.5 40 85 0
						 Q 87.5 40 90 0
						 Q 92.5 40 95 0
						 Q 97.5 40 100 0 Z">
				</path>
			</svg>
	<!-- footer -->
	<div class="footer" id="contact">
<!--		<div class="container">-->
<!--		<h6>Contact</h6>-->
<!--			<div class="co-ntact">-->
<!--				  <form >-->
<!--					<div class="to">-->
<!--                     	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">-->
<!--					 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">-->
<!--					 	<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">-->
<!--					</div>-->
<!--					<div class="text">-->
<!--	                   <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>-->
<!--	                   <div class="form-submit">-->
<!--			           <input type="submit" id="submit" value="Submit"><br>-->
<!--			           </div>-->
<!--	                </div>-->
<!--	                <div class="clearfix"></div>-->
<!--                   </form>-->
<!--			</div>-->

<!--		</div>-->
	</div>
	<!-- footer -->
	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
</body>
</html>