{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Gallery</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style2.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Google Fonts -->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.contentcarousel.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>



<!-- mixing -->
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Antic' rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700|Six+Caps' rel='stylesheet' type='text/css' />
   <!--//webfonts-->
   <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
<!--light-box-files -->
<script src="{% static 'js/modernizr.custom.97074.js'%}"></script>
<script src="{% static 'js/jquery.chocolat.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/chocolat.css'%}" type="text/css" media="screen" charset="utf-8">

    <script type="text/javascript" charset="utf-8">
    $(function() {
        $('.g-left a').Chocolat();
    });
    </script>
<!--light-box-files -->
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
       <script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
                });
            });
        </script>
        <script type="text/javascript">
        $(document).ready(function() {
                /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
                */
        $().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<style>
    .gallery-pic {
      width: 80%;
      max-width: 230px;
      height: auto;
      display: flex;
      margin:auto;
    }

    form {
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"],
  select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 10px;
    font-size: 16px;
  }
  
  select {
    width: 100px;
  }
  
  button[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .gallery-title {
    text-align: center;
    margin-top: 50px;
    opacity: 0.8;
  }
  
  .gallery-title h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .gallery-title p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
  }
  .header-bottom{
			background-color: white;
			/* position: fixed; */
    		/* top: 0; */
		}

		.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:visited{
			color:darkcyan;
		}
  </style>
<!-- //grid-slider -->
</head>
<body>
<!-- Header Starts Here -->

	 <!-- header-bottom -->
     <div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					 <li><a href="{% url 'index:index' %}">首页</a></li>
						<li><a href="{% url 'pattern:passage' %}" class="scroll">纹样库</a></li>
						<li><a href="#insurance" class="scroll">前沿研究</a></li>
                        <li><a href="#insurance" class="scroll">创作中心</a></li>
						<li><a href="#contact" class="scroll">关于我们</a></li>
					</ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<div class="search-box">
					<div id="sb-search" class="sb-search">
<!--					<div id="sb-search" class="sb-search">-->
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search" > </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="{% static 'js/classie.js'%}"></script>
					<script src="{% static 'js/uisearch.js'%}"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

		</div>
	</div>
	<!-- /header-bottom -->
    <div class="gallery-title">
        <img src="{% static 'images/3.jpg' %}" class="banner"/>
        <h3>纹样库</h3>
        <p> 收集中华传统纹样，展现纹样魅力。 </p>
    </div>

<!-- Header Ends Here -->
    <form method="get" action="{% url 'pattern:pattern' %}">
        <input type="text" name="search_query" id="search_query" placeholder="搜索...">
        <select name="dynasty" id="search-select-1">
            <option value="">朝代</option>
            <option value="元">元</option>
            <option value="北宋">北宋</option>
            <option value="南宋">南宋</option>
            <option value="宋">宋</option>
            <option value="明">明</option>
            <option value="清">清</option>
        </select>
        <select name="category" id="search-select-2">
            <option value="">载体</option>
            <option value="织绣画">织绣画</option>
            <option value="匹料">匹料</option>
            <option value="服饰">服饰</option>
            <option value="日用织物">日用织物</option>
        </select>
        <select name="species" id="search-select-3">
            <option value="">类别</option>
            <option value="缂丝">缂丝</option>
            <option value="京绣">京绣</option>
            <option value="鲁绣">鲁绣</option>
            <option value="锦">锦</option>
            <option value="顾绣">顾绣</option>
            <option value="">空选项</option>
            <option value="广绣">广绣</option>
            <option value="堆绫">堆绫</option>
            <option value="男礼服">男礼服</option>
            <option value="男便服">男便服</option>
            <option value="男吉服">男吉服</option>
            <option value="冠、带佩饰">冠、带佩饰</option>
            <option value="女便服">女便服</option>
            <option value="女吉服">女吉服</option>
            <option value="女常服">女常服</option>
            <option value="女礼服">女礼服</option>
            <option value="纳纱">纳纱</option>
            <option value="刺绣">刺绣</option>
            <option value="男常服">男常服</option>
            <option value="漳缎">漳缎</option>
            <option value="女常服">女常服</option>
            <option value="靴、鞋、袜">靴、鞋、袜</option>
            <option value="织锦">织锦</option>
            <option value="满绣">满绣</option>
            <option value="男行服">男行服</option>
            <option value="女吉服">女吉服</option>
            <option value="男雨服">男雨服</option>
            <option value="男礼服">男礼服</option>
            <option value="男行服">男行服</option>
            <option value="男吉服">男吉服</option>
            <option value="男常服">男常服</option>
            <option value="缎">缎</option>
            <option value="刺绣">刺绣</option>
            <option value="漳绒">漳绒</option>
        </select>
        <button type="submit">搜索</button>
    </form>

<!-- Page Starts Here -->
<div class="content">
	<div class="container">
		<div class="gallery">
            <div class="gallery-top">
                <div class="view view-tenth">
                    <img src="{% static 'images/宝相纹-small.jpg' %}" class="gallery-pic"/>
                    <div class="mask">
                        <h2>宝相花</h2>
                        <p>宝相花纹，又称宝仙花、宝莲花，是中国传统的吉祥纹样，也是佛教常用的一种纹饰。</p>
                        <a href="{% url 'pattern:passage' %}" class="info">详细介绍</a>
                    </div>
                </div>
            <div class="clearfix"></div>

			<div class="gallery-top">
                {% for pattern in patterns %}
                <div class="view view-tenth">
                    <img src="{{ pattern.img }}" />
                    <div class="mask">
                        <h2>Our Gallery</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings</p>
                        <a href="{% url 'pattern:passage' %}" class="info">Read More</a>
                    </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
			<div class="pag-nations">
				<ul class="p_n-list">
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">More</a></li>
					<li><a href="#">19</a></li>
					<li><a href="#">20</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
		
	</div>
</div>
<!-- Page Ends Here -->
<!-- Footer Part Starts Here -->

<!-- Footer Part Ends Here -->

</body>
</html>