{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Image Retrieval</title>
    <link href="{% static 'css/style3.css' %}" rel='stylesheet' type='text/css' />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Antic' rel='stylesheet' type='text/css' />
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700|Six+Caps' rel='stylesheet' type='text/css' />
   <!--//webfonts-->
   <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
<!--light-box-files -->
<script src="{% static 'js/modernizr.custom.97074.js'%}"></script>
<script src="{% static 'js/jquery.chocolat.js'%}"></script>
		<link rel="stylesheet" href="{% static 'css/chocolat.css'%}" type="text/css" media="screen" charset="utf-8">

		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.g-left a').Chocolat();
		});
		</script>
<!--light-box-files -->
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
       <script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});

        const form = document.getElementById("upload-form");
        const input = document.getElementById("image-input");
        const img = document.getElementById("similar-image");

        input.addEventListener("change", function() {
          const file = this.files[0];
          if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function() {
              img.src = reader.result;
            });
            reader.readAsDataURL(file);
          }
        });
        function showresult(url) {
           // var resultContainer = document.getElementById('result-container');
            //var similarImage = document.getElementById('similar-image');

               // var similarImageBytes = data.similar_image_bytes;
                // Convert the byte arrays to base64 strings
                //var similarImageBase64 = btoa(String.fromCharCode.apply(null, similarImageBytes));
                //similarImage.src = 'data:image/jpeg;base64,' + similarImageBase64;
            //resultContainer.style.display = 'block';

            // Process multiple image URLs if available
            // var imageUrls = data.image_urls;
            var savedValue = 1;
            var summary = document.getElementById('sum');
            summary.textContent = savedValue;
        }
    </script>
    <style>

		.header-bottom{
			background-color: white;
			/* position: fixed; */
    		/* top: 0; */
		}

		.scroll:hover{
			color:darkcyan;
		}
    </style>
</head>
<body>
	 <!-- header-bottom -->
     <div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index:index' %}">首页</a></li>
						   <li><a href="{% url 'pattern:passage' '0' 0 %}" class="scroll">纹样库</a></li>
						   <li><a href="#insurance" class="scroll">前沿研究</a></li>
						   <li><a href="#insurance" class="scroll">创作中心</a></li>
						   <li><a href="#contact" class="scroll">关于我们</a></li>
					   </ul>
				</div>
				<!--/.navbar-collapse-->
			</nav>
			<div class="search-box">
					<div id="sb-search" class="sb-search">
<!--					<div id="sb-search" class="sb-search">-->
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search" > </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div>

				<!-- search-scripts -->
					<script src="{% static 'js/classie.js'%}"></script>
					<script src="{% static 'js/uisearch.js'%}"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->

		</div>
	</div>
	<!-- /header-bottom -->
	 <div id="re_banner" style="min-height: 500px;">
    	<h1 style="font-weight: 700;font-size:40px ;font-family: 'Antic', sans-serif;text-shadow: 3px 3px 0 white;color:black;">以纹搜纹</h1>
    <form method="post" id="upload-form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" id="image-input" accept="image/*">
        <br>
        <label for="algorithm">选择算法:</label>
        <select name="algorithm" id="algorithm">
            <option value="algorithm1">算法1</option>
            <option value="algorithm2">算法2</option>
            <option value="algorithm3">算法3</option>
        </select>
        <br>
        <button type="submit">上传并搜索</button>
    </form>
    </div>
    <div id="result-container">
        <h2>上传图片</h2>
        <img id="similar-image" src="" alt="相似图片">
    </div>
    <div id="image-container">
        <h2>纹样识别结果</h2>
        {% for url in image_urls %}
        <img src="{{ url }}" alt="Result Image">
        {% endfor %}


 </div>

</body>

</html>
